<% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg2.jpeg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">About Us</h2>
            <h3 class="text-center">Dublin Ireland</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-3">
                  <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#OurStory" role="tab" data-toggle="tab">
                        <i class="material-icons">assignment_ind</i>Our Story
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Mission" role="tab" data-toggle="tab">
                        <i class="material-icons">assignment</i>Mission
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#ARPC" role="tab" data-toggle="tab">
                        <i class="material-icons">map</i>Presbyterian Church in Ireland
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="tab-content">
                    <div class="tab-pane active" id="OurStory">
                      <h5 class="title">Who we are</h5>
                      Adelaide Road Presbyterian Church (ARPC) is a “gathered” congregation of people, of all ages, family 
                      friendly, and situated in the heart of inner city South Dublin.<br>

                      <br>The church has continued to proclaim the good news of Jesus Christ since it opened in 1841. It is 
                      bible-centred, evangelical, with a heart for serving the local community.<br>

                      <br>The congregation took the decision in 1989 to “Stay and Share Jesus”. Stay in the city centre and 
                      share our faith in Jesus Christ with our city centre communities. To do this more effectively a new 
                      building was necessary, after much hard work, many answers to prayer and enriched faith in a great God 
                      the new building was opened in June 2002. The modern premises now accommodate a church sanctuary area, 
                      a purpose built childcare facility, a multi-purpose space and four apartments.<br>
                      
                      <br>Many thousands of people work in offices in the area. The local population comprises those living in 
                      socially deprived flatland and social housing, to those living in modern apartments and expensive private 
                      homes. Nearby there are also immigrant hostels, student communities, English language schools, many 
                      businesses, B&B’s, hotels, a hospital and other churches. We are happy to share our church building with 
                      Dublin Korean Church.
                      
                      <h5 class="title">Where we are</h5>

                      Adelaide Road Presbyterian Church is situated at 18A Adelaide Road, Dublin 2, at the south end of Earlsfort 
                      Terrace, close to St. Stephens Green and the National Concert Hall. We are situated on both the Green LUAS 
                      line, Charlemont and Harcourt stops, and many city bus routes to nearby Lesson Steet, Camden Street and 
                      Earlsfort Terrace. 


                    </div>
                    <div class="tab-pane" id="Mission">
                      Encouraged by Acts 2:41 when the Holy Spirit descended in Jerusalem 50 days after the resurrection
                      and ascension of Jesus, 3,000 were added to the church’s number, our own elders have identified 5
                      priorities for ministry within Adelaide Road congregation and Dublin in the 21st Century.<br>

                      <br>The early church, comprising people from every conceivable nation and language (Acts 2:8-11),
                      born by the Holy Spirit’s breath, displayed the desire to WORSHIP (praising God, v. 47). They 
                      devoted themselves to God’s WORD (the apostles’ teaching, v. 42). They gave a WELCOME to those 
                      not yet part of the group (they ate together with glad and sincere hearts, v. 46) and they 
                      expressed their new-found faith through the twin expressions of WORKS (giving to anyone who had 
                      need, v. 45) and WITNESS (the Lord added to their number daily those who were being saved, v. 47).<br>

                      <br>
                      <p>• In WORSHIP we seek to honour God with our voices and in our lives.</p>
                      <p>• In WELCOME we seek to make outsiders insiders, and strangers friends.</p>
                      <p>• In WORD we seek to take the Bible seriously, and obey it.</p>
                      <p>• In WITNESS we seek to make Salvation known by the power of the Holy Spirit.</p>
                      <p>• In WORKS we seek to make the love of Jesus felt in the community.</p>
                    </div>
                    <div class="tab-pane" id="ARPC">
                      <p>Founded in 1907 the object of the Society is to explore and promote an understanding of
                        the history of Presbyterianism in Ireland.</p>
                      <p>This is achieved by various means, including the collection and preservation of historic 
                        materials and records of these churches.</p>
                      <p>From its very beginning the Society was made up of the three churches which held the 
                        Presbyterian Order in Ireland. These are the Presbyterian Church in Ireland, the Non-Subscribing 
                        Presbyterian Church of Ireland and the Reformed Presbyterian Church of Ireland. This is still 
                        the position today.</p>
                      <p>As the home for thousands of printed and manuscript items it is the first port of call for anyone
                        interested in the history of Presbyterianism in Ireland or in tracing their Presbyterian roots.</p>

                      <h5 class="title">The name chosen - the Presbyterian Historical Society of Ireland - indicates four main things about the Society:</h5>
                
                      <p>Their particular interest is Presbyterian history. However, in the library and archive they also have 
                        materials which are of wider ecclesiastical, social and political interest.</p>
                      <p>Their main concern is historical. They interpret this in the broadest sense, in that they are glad to 
                        preserve anything relating to our history which we can accommodate.</p>
                      <p>They are a Society which welcomes everyone irrespective of whether they are Presbyterian, especially 
                        if they have an interest in Presbyterianism and Irish Presbyterian history.</p>           
                      <p>Ireland is the main area of concern, involving the three streams of the Presbyterian tradition. 
                        The stream flowing from the first presbytery in Ireland in 1642 is the Presbyterian Church in Ireland 
                        (although some Presbyterians are known to have been in Ireland around 1600). It was formed in 1840 by 
                        the union of the Synod of Ulster and the Secession Synod. The latter was itself the result of the union 
                        in 1818 of two Secession streams, the Burgher and Anti-Burgher Synods.The Non-Subscribing Presbyterian 
                        Church of Ireland was the result of division within the Synod of Ulster in 1725 and a later secession 
                        from the Synod in 1829; together with the later accession of the Synod of Munster. The Reformed Presbyterian 
                        Church of Ireland was constituted in 1763 with its first presbytery.</p>
                      <h5 class="title">For further information on the Presbyterian Historical Society visit their website 
                        <a href="http://www.presbyterianhistoryireland.com/">(Link)</a></h5>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- END CONTAINER -->
  
  <% include partials/footer %>