  <% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1511949860663-92c5c57d48a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">Caterpillar Kidz Playgroup</h2>
            <h3 class="text-center">Dublin Ireland</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container"><br><br>

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Caterpillar Kidz <span class="text-muted">Playgroup</span></h2>
                    <p class="lead">Non-Profit Parent and Toddler Playgroup open to children 0-4years. Our mission is 
                        to create a welcoming safe environment for parents, grandparents and carers to come and play 
                        with their children.</p><br>
                    <p class="lead">Caterpillar Kidz aims to encourage children to socially interact with other 
                        children and grow and develop trough mutual play. We also hope the adults can relax and have 
                        a cup of tea and chat.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/caterpillarKids02.png" 
                    alt="Generic placeholder image">
                </div>
            </div><br>

            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider"><br>

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Contact  <span class="text-muted">Information</h2>
                    <p class="lead">We run every Tuesday 10am-11:30am during the school terms.
                            More information email caterpillarkidz@hotmail.com</p><br>
                    <p class="lead">• Facebook Page: <a href="http://www.facebook.com/caterpillarKidzPlaygroup" target="_blank"><i class="fa fa-facebook-square"></i></a></p><br>  
                    <p class="lead">• Leader: Karen Mawhinney</p>  
                </div>
                <div class="col-md-5 order-md-1 center">
                    <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/caterpillarKids03.png" 
                    alt="Generic placeholder image">
                </div>
            </div><br>

            <hr class="featurette-divider"><br>

    <!-- VERSE OF BIBLE -->
      <h5 class="title text-center">But Jesus said, “Let the little children come to me and do not hinder them, for to such belongs the 
            kingdom of heaven.” and he laid his hands on them and went away. Matthew 19v 14.</h5><br>
     </div>
  </div> <!-- END CONTAINER -->
  
  <% include partials/footer %>