  <% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1483546416237-76fd26bbcdd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">Here is our team</h2>
            <h4 class="text-center">Dublin Ireland</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/sam.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Rev. Sam Mawhinney
                            <br>
                            <small class="card-description text-muted">Minister</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">Sam is married to Karen and they have three grown up boys.
                              He enjoys sport, actively involved in Hockey and a long term Man City supporter.
                              Committed to preaching, discipleship of Jesus, and faith that affects all of life.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/tommy.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Tommy Wilson
                            <br>
                            <small class="card-description text-muted">Clerk of Session</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/tommy.wilson.3323" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/winniewilmot.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Winnie Wilmot
                            <br>
                            <small class="card-description text-muted">Prayer Coordinator</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/winnie.wilmot" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/stuart.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Stuart Ferguson
                            <br>
                            <small class="card-description text-muted">Administrator & Hon. Treasurer</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/stuartfer" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/annie.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Annie Patton
                            <br>
                            <small class="card-description text-muted">International Cafe</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/annie.patton.7" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/ethan.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Ethan Boyd
                            <br>
                            <small class="card-description text-muted">Young Adults</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="https://www.linkedin.com/in/ethanboydmicrosoft/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/eth.boyd/" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/ethan.boyd.5" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/marcos.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Marcos Oliveira
                            <br>
                            <small class="card-description text-muted">Guardian</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">Brazilian married, lives in Dublin less than a year.
                                He came to Dublin to study English and get to know new cultures.
                                Today, he works in the church as a Guardian and in the vacant hours develops
                                the Website.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="https://www.linkedin.com/in/pgmarcosoliveira/" class="btn btn-link btn-just-icon"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/mavinii" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                            <a href="https://www.facebook.com/pg.marcosoliveira" class="btn btn-link btn-just-icon"><i
                                    class="fa fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/mavinii/" class="btn btn-link btn-just-icon"><i
                                    class="fa fa-instagram"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/ken.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Ken Mok
                            <br>
                            <small class="card-description text-muted">Korean Church Coordinator</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="assets/img/faces/karen.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Karen Mawhinney 
                            <br>
                            <small class="card-description text-muted">Caterpillar Kidz Playgroup</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team
                                members.
                                You can give more details about what they do. Feel free to add some
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <!-- <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/karen.mawhinney.98" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> <!-- END CONTAINER -->
  
  <% include partials/footer %>