<% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">ARPC Events</h2>
            <h3 class="text-center">Upcoming</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h4 class="lead">Stay on top of all the events that will take place during the month of May:</h4>
      </div>
      
      <!-- FIRST jumbotron -->
        <div class="jumbotron text-center hoverable p-4 shadow-lg bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="assets/img/events/funDay.png" class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i> Greystones, Co. Wicklow, Ireland</h6>
                    </a>
                    <h4 class="h4 mb-4">Fun Day 18th May 2019 (3pm - 7pm approx.)</h4>
                    <p class="font-weight-normal">The Welcome Committee, in conjunction with Sunday Special, is organising a "Fun Day" for the whole
                      church family. We will meet at 2pm at Hillside Evangelical Church, Hillside Road, Greystones, Co. Wicklow (just off the main street:
                      GPS co-ordinates: 53.145027, -6.066119). This is a good opportunity for our church family (old and young, families and individuals) to
                      have fellowship together. BBQ food will be served. The cost will be Adults: 5€; Senior Citizens/Unwaged/Students: 3€; Sunday Special, K2
                      & Chèche Children: Free. Anyone who wishes to paddle in the sea should bring a change of clothes and a towel. It would also be appreciated if
                      each person/family could provide a tray bake. Please let Tommy Wilson (086-3868848) know as soon as possible but not later than Sunday morning
                      12th May if you wish attend - this will help with catering plans, etc. Please also indicate if you need a lift or if you can provide lifts and
                      we will try to accommodate as many possible. Also, Hillside is only a short walk from the DART train station in Greystones. We hope as many
                      possible will come.
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a></p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- FIRST jumbotron -->

        <hr class="featurette-divider">

    </div>
  </div> <!-- END CONTAINER -->

  <% include partials/footer %>