<% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">ARPC Home Groups</h2>
            <h3 class="text-center">Dublin Ireland</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h4 class="lead">During the week, we meet in Home Groups across
            the city to study the bible, have fellowship and pray together.<br>
            There are several options no matter where you live in Dublin:</h4>
      </div>
      
      <!-- FIRST jumbotron -->
      <div class="jumbotron text-center hoverable p-4 shadow-lg bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://images.unsplash.com/photo-1510590337019-5ef8d3d32116?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8aee9f9b8d60f9183d1ce064f6868924&auto=format&fit=crop&w=1350&q=80"
                            class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i></h6>
                    </a>
                    <h4 class="h4 mb-4">Vivienne & Joan Ryan</h4>
                    <p class="font-weight-normal">
                        • Adress: Rathfarnham Road, Dublin 14.<br>
                        • Leader: Annie Patton.<br>
                        • Time: Thursday 8.00 - 10.00pm<br>
                        • Contact:
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a>.</p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- FIRST jumbotron -->

        <!-- SECOND jumbotron -->
        <div class="jumbotron text-center hoverable p-4 shadow p-3 bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://images.unsplash.com/photo-1470859624578-4bb57890378a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81a2d606f483a301318daa435507923b&auto=format&fit=crop&w=1350&q=80" 
                        class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i></h6>
                    </a>
                    <h4 class="h4 mb-4">Graeme Murdock</h4>
                    <p class="font-weight-normal">
                        • Adress: Dublin South-East.<br>
                        • Leader: Graeme Murdock.<br>
                        • Time: Wednesday 7.30 - 9.30pm.<br>
                        • Contact:
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a>.</p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- SECOND jumbotron -->

        <!-- TERCEIRO jumbotron -->
        <div class="jumbotron text-center hoverable p-4 shadow-sm bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://images.unsplash.com/photo-1443188631128-a1b6b1c5c207?ixlib=rb-0.3.5&s=b53681e8b73c67914cc776056986d0b9&auto=format&fit=crop&w=1489&q=80" 
                        class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i></h6>
                    </a>
                    <h4 class="h4 mb-4">Richard Zipser</h4>
                    <p class="font-weight-normal">
                        • Adress: Community Floor, Adelaide Road, Dublin 2.<br>
                        • Leader: Richard Zipser.<br>
                        • Time: Thursday 7.30 – 9.30pm.<br>
                        • Contact:
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a>.</p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- TERCEIRO jumbotron -->

        <!-- QUARTO jumbotron -->
        <div class="jumbotron text-center hoverable p-4 shadow-none bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://images.unsplash.com/photo-1488381297039-d6ee94af777e?ixlib=rb-0.3.5&s=f024d50329b3c8922ebf740ac0a66852&auto=format&fit=crop&w=1355&q=80" 
                        class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i></h6>
                    </a>
                    <h4 class="h4 mb-4">Peter & Karen Thompson</h4>
                    <p class="font-weight-normal">
                        • Adress: 21 Meadowbank, Bushy Park Road, Dublin 6.<br>
                        • Leader: Peter & Karen Thompson.<br>
                        • Time: Wednesday 8 – 9.30pm.<br>
                        • Contact:
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a>.</p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- QUARTO jumbotron -->

        <!-- QUINTO jumbotron -->
        <div class="jumbotron text-center hoverable p-4 shadow-none bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://images.unsplash.com/photo-1527649144814-b7d57216058c?ixlib=rb-0.3.5&s=53b66b0b652a013f42a8c4a32fed8407&auto=format&fit=crop&w=1350&q=80" 
                        class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i></h6>
                    </a>
                    <h4 class="h4 mb-4">Heather Strong</h4>
                    <p class="font-weight-normal">
                        • Adress: Dundrum, Dublin 14.<br>
                        • Leader: Heather Strong.<br>
                        • Time: Friday @ 10:30am.<br>
                        • Contact:
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a>.</p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- QUINTO jumbotron -->

        <!-- SEXTO jumbotron -->
        <div class="jumbotron text-center hoverable p-4 shadow-none bg-light">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://images.unsplash.com/photo-1538599365559-9da0c902715a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e91f367b0febe35b40d292b167971a8f&auto=format&fit=crop&w=1350&q=80" 
                        class="img-thumbnail" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="material-icons">room</i></h6>
                    </a>
                    <h4 class="h4 mb-4">Marcelo Castro / Aderval Barbosa</h4>
                    <p class="font-weight-normal">
                        • About: Portuguese Bible Study <br>
                        • Adress: Adelaide Road Presbyterian Church.<br>
                        • Leader: Marcelo Castro / Aderval Barbosa.<br>
                        • Time: Every 2 Saturdays @ 6:00pm.
                    </p>
                    <p class="font-weight-normal">By <a><strong>Adelaide Presbyterian Church</strong></a>.</p>
                </div><!-- Grid column -->
            </div><!-- Grid row -->
        </div><!-- SEXTO jumbotron -->

    <hr class="featurette-divider">

    <!-- VERSE OF BIBLE -->
      <h5 class="title text-center">How good and pleasant it is when God’s people live together in unity! Psalm 133v 1.</h5><br>
 
    </div>
  </div> <!-- END CONTAINER -->
  
  <% include partials/footer %>