<% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg6.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">International Students</h2>
            <h3 class="text-center">Dublin Ireland</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
        <div class="container"><br><br>
            <div class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BKtiXtFn6tk" allowfullscreen></iframe>
                </div>
                <div class="container text-center">
                    <p class="lead title">A look at a typical night at the ARPC International Café</p>
                </div>
            </div>

            <hr class="featurette-divider"><br>
            
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> ARPC International <span class="text-muted">Students</span></h2>
                    <p class="lead">Whether you have come to Dublin as a language student, an undergraduate or a post
                       graduate, we pray you will soon become part of the church family at Adelaide Road Presbyterian 
                       Church (ARPC). As a city centre church, ARPC has church members from all over the world, and you 
                       would be most welcome to join us at our Sunday services at 11 am and stay for a nice cup of coffee 
                       or tea afterwards.</p><br>
                    <p class="lead">A friendly group of Christians from Adelaide Road Presbyterian Church organises ARPC 
                      International Café, but you don’t have to be a Christian or to sign up beforehand, just come along.
                      All are welcome!</p><br>
                    <p class="lead">• Conversation groups 
                        <a href="https://www.facebook.com/International-Cafe-ARPC-Dublin-275443865807699/" target="_blank"> <i class="material-icons">laptop</i> </a>
                        or internationalcafedublin@gmail.com </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/InternationalCafe.png" alt="Generic placeholder image">
                </div>
            </div><br>

            <hr class="featurette-divider"><br>

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading"><span class="text-muted">Good </span>Food</h2>
                    <p class="lead">Every Friday we serve a delicious meal with an international 
                        flavour that we can enjoy while we chat. We ask for a contribution of €2 
                        towards the cost of the food.</p>
                </div>
                <div class="col-md-5 order-md-1 center">
                    <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/InternationalCafe2.png" alt="Generic placeholder image">
                </div>
            </div><br>

            <hr class="featurette-divider"><br>
            
            <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading"> Fun <span class="text-muted">Games</span></h2>
                        <p class="lead">You can practise your English through all the games we play after 
                            dinner. It’s a fun way to learn and improve your English and make new friends.</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/InternationalCafe3.png" alt="Generic placeholder image">
                    </div>
                </div><br>
    
                <hr class="featurette-divider"><br>
                
                <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading"><span class="text-muted">NUA </span> video series</h2>
                            <p class="lead">We meet every Friday at 6:15 to watch an episode of the NUA series 
                              and we finish just before International Café. NUA is for anyone who is interested 
                              in learning more and asking tough questions about the Christian faith—it's designed 
                              for young adults but any critical mind of any age would benefit from NUA.</p><br>
                        </div>
                        <div class="col-md-5 order-md-1 center">
                            <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/InternationalCafe4.png" alt="Generic placeholder image">
                        </div>
                    </div><br>

            <hr class="featurette-divider">

        <!-- VERSE OF BIBLE -->
        <h5 class="title text-center">Behold, how good and pleasant it is when ebrothers dwell in
            unity! It is like the precious foil on gthe head, running down on the beard, on the beard of Aaron,
            running down on hthe collar of his robes! It is like ithe dew of jHermon, which falls on kthe mountains of Zion!
            For there the Lord lhas commanded the blessing, life forevermore. Psalm 133v 1–3.</h5><br>
     </div>
  </div> <!-- END CONTAINER -->

  <% include partials/footer %>