<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Adelaide Prebiteryan Church
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- POP UP TOASTR github.com/CodeSeven/toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- CSS Files -->
    <link href="/assets/css/material-kit.css?v=2.0.4" rel="stylesheet" />
</head>

<body class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true"
        style="background-image: url('https://images.unsplash.com/photo-1518607692857-bff9babd9d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');"></div>
    <div class="main main-raised">

            <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
                    <div class="container">
                      <div class="navbar-translate">
                        <a class="navbar-brand" href="/">HOME</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="navbar-toggler-icon"></span>
                          <span class="navbar-toggler-icon"></span>
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      </div>
                      <!-- NAV BAR -->
                      <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="/rota">
                              Rota
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/events">
                              Events
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/logout">
                              <i class="material-icons">exit_to_app</i>
                              logout
                            </a>
                          </li>
                          <!-- HI USER -->
                          <li class="nav-item"><a class="nav-link" href="#">Hi, <%= currentUser.username %> </a></li>
                        </ul>
                      </div><!-- END NAV BAR -->
                    </div>
                  </nav>


            <div class="container">
                <!-- TABS ADD NEW ROTAS -->
                <div class="card card-nav-tabs card-plain">
                    <div class="card-header card-header-rose">
                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#sunday" data-toggle="tab">Sunday</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#flowers" data-toggle="tab">Flowers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#creche" data-toggle="tab">Creche</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="sunday">
                                <h4 class="title"><i class="material-icons">schedule</i>Routes</h4>
                                <form action="/rota" method="POST">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="text" name="date" class="form-control" placeholder="15th May">
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" name="name" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" name="tel" class="form-control" placeholder="Tel. No.">
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" name="email" class="form-control" placeholder="Name@example.com">
                                        </div>
                                    </div><br>
                                    <button class="btn btn-lg btn-primary" id="submit" role="button">Submit!</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="flowers">
                                <h4 class="title"><i class="material-icons">spa</i>Flowers</h4>
                                <form action="/flower" method="POST">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="text" name="date" class="form-control" placeholder="15th May">
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" name="name" class="form-control" placeholder="Name">
                                        </div>
                                    </div><br>
                                    <button class="btn btn-lg btn-primary" id="submit" role="button">Submit!</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="creche">
                                <h4 class="title"><i class="material-icons">favorite</i>Crèche</h4>
                                <form action="/creche" method="POST">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="text" name="date" class="form-control" placeholder="15th May">
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" name="name" class="form-control" placeholder="Name">
                                        </div>
                                    </div><br>
                                    <button class="btn btn-lg btn-primary" id="submit" role="button">Submit!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><br> <!-- End Tabs on plain Card -->

                <!-- TABS ADD NEW EVENT IMG -->
                <!-- <div class="card card-nav-tabs card-plain">
                    <div class="card-header card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#home" data-toggle="tab">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#updates" data-toggle="tab">Updates</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#history" data-toggle="tab">History</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home">
                                <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show
                                    people, this is the
                                    level that things could be at. So when you get something that has the name Kanye
                                    West on it, it&#x2019;s
                                    supposed to be pushing the furthest possibilities. I will be the leader of a company
                                    that ends up being
                                    worth billions of dollars, because I got the answers. I understand culture. I am the
                                    nucleus.</p>
                            </div>
                            <div class="tab-pane" id="updates">
                                <p> I will be the leader of a company that ends up being worth billions of dollars,
                                    because I got the
                                    answers. I understand culture. I am the nucleus. I think that&#x2019;s a
                                    responsibility that I have, to
                                    push possibilities, to show people, this is the level that things could be at. I
                                    think that&#x2019;s a
                                    responsibility that I have, to push possibilities, to show people, this is the level
                                    that things could
                                    be at. </p>
                            </div>
                            <div class="tab-pane" id="history">
                                <p> I think that&#x2019;s a responsibility that I have, to push possibilities, to show
                                    people, this is the
                                    level that things could be at. I will be the leader of a company that ends up being
                                    worth billions of
                                    dollars, because I got the answers. I understand culture. I am the nucleus. I think
                                    that&#x2019;s a
                                    responsibility that I have, to push possibilities, to show people, this is the level
                                    that things could
                                    be at.</p>
                            </div>
                        </div>
                    </div>
                </div>  -->
                <!-- End Tabs on plain Card -->
            </div>
    </div>

    <!--   Core JS Files   -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- pop up toastr github.com/CodeSeven/toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <!-- POP UP Action button -->
    <script>
        const msg = document.querySelector('#submit')
        msg.addEventListener('click', () => {
          toastr.success('Please check the rota page', 'Success', {
            "progressBar": true,
            "positionClass": "toast-bottom-right"
          });
        });
    </script>

</body>

</html>