<% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg5.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">Young Adults</h2>
            <h3 class="text-center">Dublin Ireland</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container"><br><br>
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading"><span class="text-muted">One Faith, </span>One Purpose</h2>
                    <p class="lead">We are young christians seeking to learn more about Jesus and about what he
                        wants for our lives. Every Wednesday we gather together for a bible study, worship and
                        prayer time. We believe that’s a great way to encourage and help each other to grow in faith.</p>
                </div>
                <div class="col-md-5 order-md-1 center">
                    <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/YoungAdults2.png"
                        alt="Generic placeholder image">
                </div>
            </div><br>

            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider"><br>

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Bible <span class="text-muted">Study</span></h2>
                    <p class="lead">The meeting starts at 19.00 and is held on the second floor of the church building.
                        We are blessed to have members from across the world and we would love to hear from you if you
                        are interested in this group. </p>
                    <p class="lead">The two leaders are:</p>
                    <p class="lead">• Ethan Boyd (boydet@tcd.ie, +353 86 452 2143).</p>
                    <p class="lead">• Katie Burke (kburke@serge.org, +353 83 034 0497).</p>
                    <p class="lead">Follow us
                        <a href="https://www.facebook.com/ARPCYoungAdults/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        and
                        <a href="https://www.instagram.com/youngadults_arpc/" target="_blank"><i class="fa fa-instagram"></i>.</a>
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/Young adults.png"
                        alt="Generic placeholder image">
                </div>
            </div><br>

            <hr class="featurette-divider"><br>

    <!-- VERSE OF BIBLE -->
      <h5 class="title text-center">I am the light of the world. Whoever follows me will never
            walk in darkness, but will have the light of life. John 8v 12.</h5><br>
     </div>
  </div> <!-- END CONTAINER -->
  
  <% include partials/footer %>