<% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg4.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">Youth and Children</h2>
            <h3 class="text-center">Dublin Ireland</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised">
    <div class="container"><br><br>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">The Salt Project - <span class="text-muted">YOUTH CLUB</span></h2>
                        <p class="lead">If you are attending secondary school, want to make friends your own age and learn
                          more about how to be the salt of the world, then this is the right Youth Club for you. The Salt 
                          Project gets together every two Saturdays at 6pm in Adelaide Road Presbyterian church. Current 
                          members are all welcome to bring a friend if they can and the new members are welcome to join 
                          anytime during school term time.</p><br>
                        <p class="lead">Full dates for your diary to be circulated on the email chain and WhatsApp Please 
                          speak to Denise or Ronan for details.</p>
                        <p class="lead">• Contact Denise carroldv@tcd.ie 087-759-4328.</p>    
                        <p class="lead">• Check out our facebook page <a href="https://www.facebook.com/ARPCYouth/">Link</a>.</p>    
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/youthChildren.png" 
                        alt="Generic placeholder image">
                    </div>
                </div><br>
    
                <hr class="featurette-divider"><br>
    
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading"><span class="text-muted">Sunday Special </span>and K2</h2>
                        <p class="lead"><strong>“HOW BROAD, HOW LONG, HOW HIGH, HOW DEEP IS THE LOVE OF CHRIST” (Ephesians 3 v.18)</strong></p><br>
                        <p class="lead">We meet every Sunday during the 11:00am service. We read Bible stories, learn songs, make crafts and have fun 
                          (we use Scripture Union Light teaching guides). Our aim is that all children will feel accepted and loved; will come to know 
                          Jesus as their Friend; and will grow in their faith. We strive to create and promote a safe environment for children, young 
                          people and leaders.</p>  
                        <p class="lead">There are 3 different age groups in Sunday Special ranging from age 3 to 12. The K2 class is for young people 
                          aged 12 – 14+. Whether you’re in church every week or you’re visiting, all children are welcome at Sunday Special and K2.</p>  
                        <p class="lead">• Leaders: Susan Labuschagne and Carole Speer.</p>  
                    </div>
                    <div class="col-md-5 order-md-1 center">
                        <img class="featurette-image img-fluid mx-auto" src="assets/img/imgCenter/saltProjectk2.png" 
                        alt="Generic placeholder image">
                    </div>
                </div>
        
                <hr class="featurette-divider"><br>

    <!-- VERSE OF BIBLE -->
      <h5 class="title text-center">Young men and maidens together,
                old men and children! Let them praise the name of the LORD,
                for his name alone is exalted; his majesty is above earth and heaven. Psalms 148 12-13</h5><br>
     </div>
  </div> <!-- END CONTAINER -->
  
  <% include partials/footer %>